.Book_With_Us__list {
    display: flex;
    flex-direction: column;
    margin: 200px auto 0px;
    max-width: 1100px;
    .Book_With_Us_Title {
        margin: 0 auto;
        .Book_With_Us_Title_list {
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                span {
                    color: var(--main-black-color);
                    font-size: 60px;
                    font-style: normal;
                    font-weight: var(--main-font-weight);
                    line-height: 58px; 
                }
            }
        }
    }
    .Book_With_Us_Galery {
        margin-top: 70px;
        .Book_With_Us_Galery_list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: 0 auto;
            justify-content: center;
            gap: 20px 20px;
            .Book_With_Us_Galery_items {
                display: flex;
                flex-direction: column;
                border-radius: 12px;
                position: relative;
                max-width: 540px;
                height: 190px;
                overflow: hidden;
                padding: 5px;
                box-sizing: border-box;
                margin: 0 auto;
                font-size: var(--header-font-size);
                font-weight: var(--header-font-weight);
                text-transform: var(--header-text-transform);
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: all 0.3s ease;
                &:hover {
                    transform: scale(1.02);
                }
                .Book_With_Us_img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                    cursor: pointer;
                    transition: all 0.5s ease;
                    &:hover {
                        transform: scale(1.35);
                    }
                }
                ul {
                    display: flex;
                    color: var(--white-color);
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.5s ease;
                    &:hover {
                        // transform: scale(1.35);
                        animation: shake 4s infinite;
                    }
                    .Book_With_Us_rhombus{
                        width: 70px;
                        height: 140px;
                        transform: rotate(90deg);
                        object-fit: cover;
                        filter: opacity(50%);
                        cursor: pointer;
                    }
                    li {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        position: absolute;
                        justify-content: center;
                        span{
                            font-style: normal;
                            font-weight: var(--main-font-weight);
                            line-height: 98.5%;
                            font-size: 44px;
                        }
                    }
                }
            }
        }
    }
}


@keyframes shake{
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@media screen and (max-width: 1085px) {
    .Book_With_Us__list {
    margin: 100px auto 0px !important; 
    }
}