.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-bottom: 50px;
    .Bg_Contact_List1 {
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        width: 70%;
        height: 20px;
        border: 1px solid var(--white-color);
        border-radius: 12px;
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;;
            img {
                position: relative;
                width: 48px;
                height: 20px;
                padding: 0 33px;
                top: -20px;
                background-color: transparent;
            }
        }
    }

    .Main_Contact_List {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 75%;
        top: -15px;
        height: 525px;
        border: 1px solid var(--white-color);
        background: rgba(226, 211, 206, 0.20);
        backdrop-filter: blur(4.5px);
        border-radius: 12px;
        z-index: 3;
        align-items: center;
        justify-content: center;
        .Main_Contact_List_Title {
            span {
                font-family: var(--font-family-forum);
                font-size: 3.75em;
                font-style: normal;
                font-weight: var(--main-font-weight);
                line-height: 58px;
            }
        }
        .Main_Contact_List_Inut {
            margin-top: 25px;
            input {
                display: flex;
                justify-content: center;
                align-items: center;
                border: none; 
                outline: none;
                backdrop-filter: blur(10px);
                background-color: transparent;
                border-radius: 61.317px;
                color: var(--black-color);
                border: 0.624px solid var(--white-color);
                width: 280px;
                height: 61px;
                text-align: center;
                font-family: Manrope;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 179.8%; /* 28.768px */
                // padding-left: 15px;
            }
            input[type=number]::-webkit-inner-spin-button {
                -webkit-appearance: none;
              }
            }

        
        .Contact_List_Button {
            margin-top: 65px;
            .Contact_List_Button_List {
                display: flex;
                flex-direction: column;
                align-items: center;
                .Contact_List_Button_List_Bg {
                    display: flex;
                    flex-direction: column;
                    width: 250px;
                    height: 61px;
                    border-radius: 98.197px;
                    border: 1px solid var(--black-color);
                    align-items: center;
                    justify-content: center;
                    img {
                        position: relative;
                        width: 48px;
                        height: 20px;
                        padding: 0 33px;
                    }
                    img:nth-child(1) {
                        top: -30px;
                        background-color: #dcd5ca;
                    }
                    img:nth-child(2) {
                        bottom: -33px;
                        background-color: #dcd5ca;
                    }
                }
                .Button_Call_me_back {
                    z-index: 3;
                    top: -55px;
                    position: relative;
                    button {
                        font-weight: var(--main-font-weight);
                        text-transform: var(--main-text-transform);
                        letter-spacing: 0.64px;
                        padding: 10px 30px;
                        border: none; 
                        outline: none;
                        background-color: var(--bg-color);
                        border-radius: 61.317px;
                        border: 0.624px solid var(--bg-color);
                        transition: all 0.3s ease-in-out;
                        width: 280px;
                        height: 55px;
                        cursor: pointer;
                        &:hover {
                            transform: scale(1.05);
                        }
                        a{
                            text-decoration: none;
                            font-family: var(--font-family-forum);
                            color: var(--white-color);
                            margin: 10px 30px;
                        }
                    }
                }
            }
        }
    }
    .Bg_Contact_List2 {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -25px;
        width: 70%;
        height: 20px;
        border: 1px solid var(--white-color);
        border-radius: 12px;
    }

}