.Customise_Your_Trip_List {
    margin: 110px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    font-weight: var(--main-font-weigth);
    color: var(--black-color);
    font-style: normal;
    z-index: 4;
    .Customise_Your_Trip_Title {
        display: flex;
        flex-direction: column;
        span{
            font-family: var(--font-family-forum);
            font-size: 3.75em;
            line-height: 58px;
            text-align: center;
            text-wrap: wrap;
        }
    }
    .Customise_Your_Trip_Item {
        margin-top: 65px;
        .Customise_Your_Trip_Item_List {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20px;
            .Customise_Your_Trip_Item_Number {
                display: flex;
                position: relative;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                
                Img {
                    max-height: 219px;
                    max-width: 115px;
                    stroke: var(--ffffff, #FFF);
                    stroke-width: 1px;
                }
                ul {
                    position: absolute;
                    li {
                        span{
                            text-align: center;
                            font-family: var(--font-family-forum);
                            font-size: 4.5625em;
                            line-height: 98.5%;
                        }
                    }
                }
            }
            .Customise_Your_Trip_Item_Text {
                display: flex;
                align-items: center;
                .Item_Text_List {
                    display: flex;
                    flex-direction: column;
                    max-width: 320px;
                    li {
                        span {
                            font-family: var(--font-family-forum);
                            font-size: 2.25em;
                            line-height: 98.5%;
                        }
                        p {
                            margin-top: 15px;
                            font-family: var(--font-family-Manrope);
                            font-size: 1em;
                            line-height: 179.8%;
                        }
                    }
                }
            }
        }
    }
    .Customise_Your_Trip_Button {
        margin-top: 65px;
        .Customise_Your_Trip_Button_List {
            display: flex;
            flex-direction: column;
            align-items: center;
            .Button_List_Bg {
                display: flex;
                flex-direction: column;
                width: 200px;
                height: 61px;
                border-radius: 98.197px;
                border: 1px solid var(--black-color);
                align-items: center;
                justify-content: center;
                img {
                    position: relative;
                    width: 48px;
                    height: 20px;
                    padding: 0 33px;
                }
                img:nth-child(1) {
                    top: -30px;
                    background-color: #dcd5ca;
                }
                img:nth-child(2) {
                    bottom: -33px;
                    background-color: #dcd5ca;
                }
            }
            .Button_Start {
                z-index: 3;
                top: -55px;
                position: relative;
                button {
                    font-weight: var(--main-font-weight);
                    text-transform: var(--main-text-transform);
                    letter-spacing: 0.64px;
                    padding: 10px 30px;
                    border: none; 
                    outline: none;
                    background-color: var(--bg-color);
                    border-radius: 61.317px;
                    border: 0.624px solid var(--bg-color);
                    transition: all 0.3s ease-in-out;
                    max-width: 540px;
                    height: 55px;
                    cursor: pointer;
                    &:hover {
                        transform: scale(1.05);
                    }
                    a{
                        text-decoration: none;
                        font-family: var(--font-family-forum);
                        color: var(--white-color);
                        margin: 10px 30px;
                    }
                }
            }
            .Button_Footer {
                top: -35px;
                position: relative;
                span {
                    color: var(--black-color);
                    font-family: var(--font-family-Manrope);
                    font-size: 1em;
                    font-style: normal;
                    font-weight: var(--main-font-weight);
                    line-height: 179.8%;
                }
            }
        }
    }
}


.Customise_Your_Trip_Clouds1 {
    position: absolute;
    background: url(../assets/images/Cloud2.png);
    background-repeat : no-repeat;
    background-position: center center;
    background-size: contain;
    overflow: hidden;
    left: 0;
    z-index: 3;
    width: 100%;
    margin-top: 50px;
    animation: cloud 12s linear infinite;
}

.Customise_Your_Trip_Clouds2 {
    position: absolute;
    background: url(../assets/images/Cloud1.png);
    background-repeat : no-repeat;
    background-position: center center;
    animation: cloudR 12s linear infinite;
    width: 100%;
    overflow: hidden;
    // padding-left: 1100px;
    margin-top: 450px;
    z-index: 3;
}

@keyframes cloud {
    from {
        background-position: 0px;
    }
    to {
        background-position: 1500px;
    }
}

@keyframes cloudR {
    from {
        background-position: 1500px;
    }
    to {
        background-position: 0px;
    }
}