.Subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    .Bg_Subscribe_List1 {
        display: flex;
        flex-direction: column;
        margin-top: 110px;
        width: 58%;
        height: 20px;
        border: 1px solid var(--white-color);
        border-radius: 12px;
        li{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;;
            img {
                position: relative;
                width: 48px;
                height: 20px;
                padding: 0 33px;
                top: -20px;
                background-color: #e2d3ce;
            }
        }
    }
    .Subscribe_List {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: -10px;
        width: 60%;
        height: 565px;
        border-radius: 12px;
        background: url(/assets/images/Subscribe_List.png);
        background-repeat : no-repeat;
        background-size: cover; 
        background-position: center center;
        z-index: 3;
        .Subscribe_List_Info {
            position: relative;
            // top: -80px;
            // left: -160px;
            flex-direction: column;
            font-style: normal;
            width: 40%;
            font-weight: var(--main-font-weight);
            color: var(--white-color);
            span {
                font-family: var(--font-family-forum);
                font-size: 3.75em;
                line-height: 58px;
            }
        }
        .Subscribe_List_Button {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            left: -160px;
            input {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border: none; 
                outline: none;
                backdrop-filter: blur(10px);
                background-color: transparent;
                border-radius: 61.317px;
                // width: 486px;
                height: 55px;
                font-size: 1em;
                border: 0.624px solid var(--white-color);
                padding-left: 15px;
                color: var(--black-color);
                line-height: 179.8%;
            }
            input::placeholder{
                color: var(--black-color);
                background-color: transparent;
                outline: none;
            }
            button {
                position: relative;
                // left: -50px;
                background-color: var(--white-color);
                // width: 330px;
                height: 55px;
                font-weight: var(--main-font-weight);
                letter-spacing: 0.64px;
                padding: 10px 30px;
                border: none; 
                outline: none;
                border-radius: 61.317px;
                border: 0.624px solid var(--white-color);
                a{
                    color: var(--black-color);
                    text-transform: var(--main-text-transform);
                    font-size: 1.5em;
                    font-style: normal;
                    line-height: 179.8%;
                    text-decoration: none;
                }
            }
        }
    }
    .Bg_Subscribe_List2 {
        display: flex;
        flex-direction: column;
        position: relative;
        top: -20px;
        width: 58%;
        height: 20px;
        border: 1px solid var(--white-color);
        border-radius: 12px;
    }
}

@media screen and (min-width: 1400px) {
    .Subscribe_List_Button {
        button {
            left: -50px;
            width: 330px;
        }
        input {
            width: 486px;
        }
    }
    .Subscribe_List_Info {
        position: relative;
        top: -80px;
        left: -160px;
    }
}

@media screen and (min-width:700px) and (max-width: 1400px) {
    .Subscribe_List_Button {
        // flex-direction: column;
        justify-content: center;
        button {
            // margin-top: 15px;
            position: relative;
            width: 200px;
        }
        input {
            width: 200px;
        }
    }
}


@media screen and (max-width: 400px) {
    .Subscribe_List_Button {
        flex-direction: column;
        justify-content: center;
        button {
            // margin-top: 15px;
            position: relative;
            width: 150px;
        }
        input {
            width: 150px;
        }
    }
    .Subscribe_List_Info {
        span {
            font-size: 1em;
        }
    }
}