.Navigation {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding-top: 20px;
}

.Navigation-Items_Mobill {
    display: none;
    ul{
        li{
            display: flex;
            flex-direction: column;
            img{
                margin-top: 5px;
            }
        }
    }
}

.Navigation-Items {
    ul {
        display: flex;
        align-items: center;
        li {
            font-size: var(--header-font-size);
            font-weight: var(--header-font-weight);
            text-transform: var(--header-text-transform);
            margin-right: 40px;
            &:last-child {
                margin-right: 0px;
            }
            a {
                color: var(--bg-color);
                font-size: 1vw;
            }
        &:hover {
            a {
                color: var(--white-color);
            }
        }
        }
    }
}

@media screen and (max-width: 1085px) {
    .Navigation-Items {
        display: none;
    }
    .Navigation-Items_Mobill {
        display: flex;
        order: 3;
    }

    .Navigation-Logo {
        order: 2;
    }
    .Navigation-button {
        order: 1;
    }
}

