.Navigation {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding-top: 20px;
    .dropdown {
        display: none;
        position: relative;
        .dropbtn {
            border: none;
            cursor: pointer;
            background: transparent;
            display: flex;
            flex-direction: column;
            width: 50px;
            height: 30px;
            background: url(../assets/icons/btn_bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            img{
                margin-top: 5px;
            }
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #e2d3ce;
            top:60px;
            left: -130px;
            min-width: 260px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            border-radius: 10px;
            padding: 15px;
            z-index: 3;
            background: url(../assets/images/dropdown_bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            img {
                width: 40px;
                height: 20px;
            }
            .dropdown-content_list{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 5px;
                border: 1px solid var(--white-color);
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                border-radius: 10px;
                a {
                    color: var(--white-color);
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    font-family: var(--font-family-forum);
                    font-size: 20px;
                    font-style: normal;
                    font-weight: var(--header-font-weight);
                    line-height: normal;
                    letter-spacing: 0.96px;
                    text-transform: var(--header-text-transform);
                    &:hover {
                        color:  rgb(252, 252, 125);
                    }
                }
            }
        }
        .show {display: flex;}
    }
    .Navigation-Items {
        ul {
            display: flex;
            align-items: center;
            li {
                font-size: var(--header-font-size);
                font-weight: var(--header-font-weight);
                text-transform: var(--header-text-transform);
                margin-right: 40px;
                &:last-child {
                    margin-right: 0px;
                }
                a {
                    color: var(--bg-color);
                    font-size: 1vw;
                }
            &:hover {
                a {
                    color: var(--white-color);
                }
            }
            }
        }
    }
    .Navigation-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            position: relative;
            width: 30px;
            height: 20px;
            background: transparent;
        }
    }
}
@media screen and (max-width: 1085px) {
    .Navigation-Items {
        display: none;
    }
    .dropdown {
        display: flex !important;
        order: 2;
        flex-direction: column !important;
        align-items: center !important;
    }

    .show {
        display: flex;
        flex-direction: column !important;
        align-items: center !important;
    }

    .Navigation-Logo {
        order: 1;
    }
    .Navigation-button {
        order: 3;
    }
}

