
.Top_Rated{
    display: flex;
    flex-direction: row;
    margin-top: 57px;
    justify-content: center;
    padding: 10px;
    li{
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        align-items: center;
        margin-right: 35px;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
        img {
            display: flex;
            width: 18px;
            height: 12px;
        }
        a {
            color: var(--brown-color);
            font-size: 24px;
            font-style: normal;
            font-weight: var(--main-font-weight);
            line-height: 98.5%;
            text-wrap: nowrap;
        }
        &:hover {
            img {
                display: flex;
            }
            a {
                color: var(--black-color);
            }
        }
    }
}

@media screen and (max-width: 965px) {
    .Top_Rated {
        overflow-x: scroll;
        justify-content: flex-start !important;
    }
    .Top_Rated_Gallery::-webkit-scrollbar {
        background-color: transparent;
    }
    .Top_Rated_Gallery::-webkit-scrollbar-thumb {
        background-color: #346083;
        border-radius: 5px;
    }
}