@import "./components/Footer_Navigation";

.Footer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(360deg, rgba(226, 211, 206, 0.00) 0%, rgba(226, 211, 206, 0.71) 42.71%, #E2D3CE 100%);
    background-repeat : no-repeat;
    background-size: cover; 
    background-position: top;
    font-family: var(--font-family-forum);
    overflow: hidden;
        // .Footer_List {
        //     margin: 29px 50px 0px 42px;
        //     padding: 23px 44px;
        //     background: url(/assets/images/1.png);
        //     background-repeat : no-repeat;
        //     background-size: cover; 
        //     background-position: 50% 1%;
        // }
}
