@import "./components/Navigation";
@import "./components/Button";
@import "./components/Header_information";


.Header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../assets/images/bg_top.png);
    background-repeat : no-repeat;
    background-size: cover; 
    background-position: center center;
    font-family: var(--font-family-forum);
    overflow: hidden;
}




