:root {
    --bg-color: #000;
    --black-color: #0C0B10;
    --white-color: #Fcfcfc;
    --font-family-forum: 'Forum', sans-serif;
    --font-family-Manrope: 'Manrope', sans-serif;
    --brown-color: #79655E;
    --header-font-size: 16px;
    --header-font-weight: 400;
    --header-text-transform: uppercase;
    --main-font-size: var(--header-font-size);
    --main-font-weight:  var(--header-font-weight);
    --main-text-transform: var(--header-text-transform);
}
